@{
    ViewBag.Title = "Contoso University";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <h2>Contoso University</h2>
        <p>
            This is the Contoso University sample application.
        </p>
    </div>
</div>